body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: "Montserrat", sans-serif;
}

.overlay-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-header h1 {
  position: absolute;
  transform: translate(-50%, -100%);
  opacity: 0;
  font-size: 1.8rem;
  padding: 1vh;
}

.animated-text {
  position: fixed;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  animation-name: riseUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

h1:nth-child(1) {
  animation-delay: 5.6s;
  top: 20%;
}

h1:nth-child(2) {
  animation-delay: 5.8s;
  top: 30%;
}

h1:nth-child(3) {
  font-size: 8rem;
  animation-delay: 6s;
  top: 55%;
}

.arrow {
  position: fixed;
  left: 47%;
  top: 45%;
  transition: transform 0.3s ease-out;
}
.arrow h1 {
  font-size: 8rem;
  animation-delay: 6s;
  top: 55%;
  left: 50%;
}
.arrow:hover {
  animation: moveArrow 1s ease-in-out infinite;
}

.contact:hover {
  animation: moveArrow 1s ease-in-out infinite;
}

.text-box {
  position: fixed;
  left: 80%;
  top: 35%;
  transition: all 0.5s ease;
  z-index: 11000;
  animation: riseUp 10s ease-in-out;
}

.text-box:hover {
  transform: scale(1.1);
}

.text-box p {
  position: relative;
  left: -8%;
  top: -10%;
  font-size: 18px;
  color: white;
  opacity: 0;
  transition: all 0.5s ease;
}

.text-box:hover p {
  opacity: 1;
}

.link h1 {
  animation-delay: 1.4s;
  top: 2%;
  left: 4%;
}

.section:nth-child(1) {
  height: 100vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.bottom-right-insta {
  position: absolute;
  width: 50vh;
  height: 50vh;
  top: -50%;
  left: -50%;
}

.custom-shape-divider-bottom-1681291094 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681291094 svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 169px;
}

.custom-shape-divider-bottom-1681291094 .shape-fill {
  fill: #000000;
}

@keyframes riseUp {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(-1px);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(-5px);
  }
  30% {
    transform: translateY(-7px);
  }
  40% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(-1px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1px);
  }
}
